<li class="control-group nested-fields">
  <div class="controls">
    <%= t.label :question, "Question:" %>
    <%= t.text_field :question %>

    
    <%= link_to_remove_association "remove", t %>
  </div>
</li>