
<h1> tutorial  : <%= @tutorial.title %> </h1>
   
 <p>
    title :  <%= @tutorial.problem %>
 </p>

<p>
     question : <= @tutorial.questions.question %>
</p>
<p>
     question : <= @tutorial.questions.answer %>
</p>
<p>
     question : <= @tutorial.questions.hint %>
</p>
      
<%= link_to  "edit" ""  %>